certifi
chardet
imageio_ffmpeg
decorator
google-api-core
google-auth
google-auth-httplib2
google-auth-oauthlib
idna
moviepy
numpy
oauthlib
packaging
Pillow
pyasn1
pyasn1-modules
pydub
pydrive
pydrive2
pytz
requests
rsa
six
SpeechRecognition
streamlit
toml
urllib3

